[tool.poetry]
name = "pdf2john"
version = "0.1.0"
description = ""
authors = ["Benjamin Dornel <benjamindornel@gmail.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
pyhanko = "0.20.1"

[tool.poetry.group.dev.dependencies]
black = "^23.9.1"
pylint = "^3.0.1"
isort = "^5.12.0"
taskipy = "^1.12.0"
pytest = "^7.4.2"

[tool.pylint]
disable = [
    "missing-module-docstring",
    "missing-class-docstring",
    "missing-function-docstring",
    "invalid-name",
    "too-few-public-methods"
]
ignore-paths = ["tests"]
max-attributes=9

[tool.taskipy.tasks]
format = "isort . && black ."
lint = "pylint *.py"
test = "pytest ."

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
