[tool.poetry]
name = "pdf2john"
version = "0.1.5"
description = ""
authors = ["Benjamin Dornel <benjamindornel@gmail.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
pyhanko = "0.20.1"

[tool.poetry.group.dev.dependencies]
black = "^23.9.1"
isort = "^5.12.0"
taskipy = "^1.12.0"
pytest = "^7.4.2"
ruff = "^0.1.1"

[tool.taskipy.tasks]
format = "isort . && black ."
lint = "ruff ."
test = "pytest ."

[tool.black]
line-length = 88

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
pdf2john = "pdf2john.pdf2john:main"
